@model Restaurantt.Models.İletisim

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Silmek İstediğnizden Emin Misiniz?</h3>
<div>
    <h4>İletisim</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesaj)
        </dd>
       
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Kayıt Listesi</a>
    </form>
</div>
